/* цвет Основного текста #212121 - черный */
/* Вторичный текст #757575 - серенький */
/* Белый текст #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

.page {
  background-color: #fff;
  color: #757575;
}

ul {
  list-style: none;
}

/* logo */

.logo {
  color: var(--primary-text-color);
}

.logo-web {
  color: var(--accent-color);
}

/* sine-nav */

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  color: #ffffff;
}

.section-title {
  color: var(--primary-text-color);
}
